.root
{
    -fx-background-color:rgb(255, 248, 150);
}

.content-pane {
    -fx-background-color: rgb(78, 177, 239);
    -fx-background-image:url("./image/pink2.jpg");
    /*-fx-background-size: cover;*/
    -fx-background-opacity: 0.5;
}

.list-pane {
    -fx-background-color: rgb(78, 177, 239);
    -fx-background-image:url("./image/pink2.jpg");
    /*-fx-background-image:url("./image/MC.jpg");*/
    -fx-background-size: cover;
    -fx-background-opacity: 0.5;
}

.time-label{
    -fx-text-fill: rgb(24, 28, 31);
    -fx-font-size:12;

}

/*-----图标按钮的通用样式-----*/
.svg-btn
{
    -fx-max-width: 20;
    -fx-max-height: 20;
}

.svg-btn Region {
    -fx-background-color: white;
    -fx-font-size:25;
}

.prev-btn{
    -fx-background-color: null;
}

.prev-btn Region{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M206 865h-38c-30.928 0-56-25.072-56-56V216c0-30.928 25.072-56 56-56h38c30.928 0 56 25.072 56 56v593c0 30.928-25.072 56-56 56z m168.686-386.191l422.304-303.4c32.294-23.201 77.282-15.83 100.484 16.464A72 72 0 0 1 911 233.883v559.053c0 39.764-32.235 72-72 72a72 72 0 0 1-39.95-12.1L376.288 570.877c-25.73-17.16-32.677-51.93-15.517-77.66a56 56 0 0 1 13.915-14.408z";
    -fx-background-color: rgb(140, 218, 240);
}


.play-btn{
    -fx-background-color: null;
}

.play-btn Region{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M870.2 466.333333l-618.666667-373.28a53.333333 53.333333 0 0 0-80.866666 45.666667v746.56a53.206667 53.206667 0 0 0 80.886666 45.666667l618.666667-373.28a53.333333 53.333333 0 0 0 0-91.333334z";
    -fx-background-color: rgb(140, 218, 240);
}

.play-btn:selected Region{
    -fx-shape: "M320 128A64 64 0 0 0 256 192v640a64 64 0 0 0 128 0v-640A64 64 0 0 0 320 128z m384 0A64 64 0 0 0 640 192v640a64 64 0 0 0 128 0v-640A64 64 0 0 0 704 128z";
}

.next-btn{
    -fx-background-color: null;
}

.next-btn Region{
    -fx-pref-width: 25;
    -fx-pref-height: 30;
    -fx-shape: "M817 160h38c30.928 0 56 25.072 56 56v593c0 30.928-25.072 56-56 56h-38c-30.928 0-56-25.072-56-56V216c0-30.928 25.072-56 56-56zM648.314 546.191l-422.304 303.4c-32.294 23.201-77.282 15.83-100.484-16.464A72 72 0 0 1 112 791.117V232.064c0-39.764 32.235-72 72-72a72 72 0 0 1 39.95 12.1l422.762 281.959c25.73 17.16 32.677 51.93 15.517 77.66a56 56 0 0 1-13.915 14.408z";
    -fx-background-color: rgb(140, 218, 240);
}

.like-btn{
    -fx-background-color: null;
}

.like-btn Region{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M511.913993 928.016126c-28.898371 0-57.968755-12.729044-86.695112-41.455401L106.30472 564.034268C68.117588 516.38636 31.994625 471.318663 31.994625 383.935495c0-141.223585 114.905426-255.956996 255.956996-255.956996 53.15236 0 104.068537 16.169326 147.244079 46.615824 14.449185 10.148833 17.889467 30.102469 7.740635 44.551655-10.148833 14.449185-30.102469 17.889467-44.551655 7.740635-32.338653-22.877877-70.525785-34.918864-110.433059-34.918864-105.960692 0-191.967747 86.179069-191.967747 191.967747 0 61.409037 20.297665 90.135394 59.172854 138.643373l315.645893 318.742147c15.997312 15.997312 28.898371 22.361834 41.283387 22.533848 12.729044 0.172014 24.942046-6.192508 41.455401-22.705863l316.677977-319.946246c25.974131-28.210314 57.968755-75.858223 57.968755-137.439274 0-105.960692-86.179069-191.967747-191.967747-191.967747-47.991937 0-94.091718 17.889467-129.526625 50.22812l-133.998992 134.171006c-12.55703 12.55703-32.682681 12.55703-45.239711 0s-12.55703-32.682681 0-45.239711l135.031077-135.203091c48.335965-44.207626 109.745003-67.945574 173.734252-67.945574 141.223585 0 255.956996 114.905426 255.956996 255.956996 0 82.394759-41.111372 144.319839-75.686209 181.646901L598.781119 886.388712C569.882748 915.287082 540.984378 928.016126 511.913993 928.016126z";
    -fx-background-color: red;
}

.like-btn:selected Region{
    -fx-shape: "M669.781333 130.752c71.637333-11.093333 138.901333 11.477333 193.344 64.533333 55.317333 53.930667 81.834667 124.992 74.282667 199.530667-7.466667 73.642667-46.549333 146.368-112.32 210.474667-18.346667 17.898667-67.669333 66.218667-138.453333 135.637333-31.829333 31.232-65.706667 64.448-99.84 97.984L553.6 871.466667l-13.184 12.949333a40.554667 40.554667 0 0 1-56.832 0l-114.602667-112.64-24.213333-23.722667a677626.346667 677626.346667 0 0 0-145.856-142.762666C133.141333 541.184 94.08 468.48 86.613333 394.816c-7.552-74.538667 18.944-145.6 74.282667-199.530667 54.442667-53.056 121.706667-75.605333 193.344-64.533333 53.162667 8.213333 107.093333 34.688 157.781333 76.949333 50.709333-42.24 104.618667-68.736 157.781334-76.949333z";
}